body {
    background-color: white;
    overflow-x: hidden;
  }

  h1 {
    font-size: 2.5rem; 
  }
  
  h2 {
    font-size: 2rem; 
  }
  
  h3 {
    font-size: 1.5rem; 
  }
  
  p {
    font-size: 1rem; 
}

  .content-wrapper {
    max-width: 1380px;
    margin: 0 auto;
    background-color: #F3E0EC; 
  }

  .content-container {
    max-width: 1200px;
    margin: 0 auto;
  }

  .navbar {
    background-color: #F3E0EC; 
    height: 90px;
  }

  .navbar-nav {
    height: 100%; 
    display: flex;
    align-items: center; 
  }

  .navbar-brand {
    height: 100%; 
    display: flex;
    align-items: center; 
  }

  .navbar-brand img {
    height: 60px; 
    width: auto; 
  }

  .nav-link{
    font-size: 1.1rem; 
    margin:5px;
 }

 .navbar-collapse.show .navbar-nav .nav-link {
    background-color: #F3E0EC;  
    font-size: 1.1rem;
  }
  
  .navbar-collapse.show {
    background-color: #F3E0EC; 
  }

/*aap*/

.bg-custom {
  max-width: 1380px;
  margin: 0 auto;
  background-color: #F3E0EC;
}
.btn-dark1 {
  background-color: black;
  color: #fd81d0;
  padding: 12px 24px; 
  font-size: 1.2rem; 
  border-radius: 5px;
}
.btn-dark1:hover {
  background-color: black;
  color: #fd81d0;
 
  border-radius: 5px;
}
.icon-size {
  width: 55px; 
  height: auto;
}

.fs-5 {
  font-size: 1.2rem; 
}

h4.fw-bold {
  font-size: 1.5rem; 
}
.font-color{
  color: #51565D;
}

/*About*/
.avatar {
  display: inline-block;
  width: 40px;
  height: 40px;
  overflow: hidden;
  border-radius: 50%;
  background-color: #b0b0b0;
}
.avatar-circle {
  width: 60px;
  height: 60px;
  background-color: #ccc; 
  border-radius: 50%;
}
.star-icon {
  width: 80px;  
  height: auto;
}
/*Footer section*/

footer {
  font-family: 'Segoe UI', sans-serif; 
  font-size: 1rem;
  background-color: #322B3C !important;
  border-top: 2px solid #e9ecef !important;
  color: white;
  line-height: 1.6;
  overflow-x: hidden;
}

.footer-heading {
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 0.5px;
  margin-bottom: 1.2rem !important;
}
.fw-semibold{
  font-size:2rem;
}
.footer-text {
  font-size: 1.2rem;
  opacity: 0.9;
text-align: left;
}

.footer-link {
  color: #ffffff !important;
  text-decoration: none;
  font-weight: 400;
  font-size: 1.2rem;
  opacity: 0.9;
  transition: opacity 0.3s ease;
}

.footer-link:hover {
  opacity: 1;
  text-decoration: underline;
}

.footer-logo {
  width: auto;
  max-width: 100px; 
  height: auto;
  margin-bottom: 1rem;
}

.bi {
  color: white !important;
 
}

.btn-dark {
  background-color:rgb(209, 133, 210);

}

.btn-dark:hover {
  background-color:rgb(209, 133, 210);

}
.row {
  margin-left: 0 !important;
  margin-right: 0 !important;
  overflow-x: hidden; 
}

.newsletter-container,
.footer-logo,
.social-icons {
  max-width: 100%;
  overflow-x: hidden;
}

.social-icons {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.social-icons a {
  margin-right: 15px;
  transition: opacity 0.3s ease;
}

.social-icons a:last-child {
  margin-right: 0;
}
